<article id="banner">

  <h1>
    Desafio Clipping
  </h1>

  <h2>
    por Bruno Duarte Brito
  </h2>

</article>

<div id="content">

  <form id="message-form" [formGroup]="messageForm">

    <mat-form-field class="full-width">
      <textarea matInput #message minLength="4" maxlength="256" placeholder="Mensagem" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" formControlName="message"></textarea>
      <mat-hint align="start">
        <strong>Digite aqui sua mensagem</strong>
      </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="submitMessage(message.value)" [disabled]="!messageForm.valid">Enviar</button>

  </form>

</div>
