// home.component.scss
//  - home component sass declarations
// -------------------------------------------------------------------------------------------------

// importing custom variables
@import '../../../styles-variables';

#banner {
  padding: 16px;
  min-height: 200px;
  text-align: center;
  background-color: $primary;

  h1,
  h2 {
    color: $white;
  }
}

#message-form {
  margin-left: 4%;
}

mat-list-item {
  text-align: left;
}

.center {
  width: 50%;
  margin: auto;
  padding: 10px;
}

.full-width {
  width: 100%;
}

h1 {
  margin: 5px;
  font-size: 36pt;
  font-weight: 400;
}

h2 {
  margin: 5px;
  font-size: 18pt;
  font-weight: 200;
}
